h1{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    color:rgb(146, 29, 29);
}
h2{
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 30px;
    font-weight: bold;
    color: rgb(228, 224, 224);
}
body{
    background-color: rgb(219, 170, 107);
}
.container{
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 100px;
    gap: 15px;
    height: 50vh;
}
.box{
  outline: none;
  border: 10px solid #404B69;
  font-size: 2rem;
  line-height: 0;
  font-weight: 900;
  color: rgb(46, 46, 201);
  border-radius: 20%;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;

  background-color: white;
}
.pressed {
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
  }